/* universal selector */
*{
    /* color: red; */
}

/* tag or element selector */
h1{
    text-align: center;
    color: green;
}

/* atribute selector */
a[title="google"]{
    letter-spacing: 20px;
}

/* id selector */
#idselector {
    text-indent: 40px;
}

/* class selector */
.classselector {
    color: red;
    letter-spacing: 10px;
    word-spacing: 20px;
    line-height: 40px;
}

/* Descendant selector */
/* div p {
    background-color: yellow;
} */

/* Child Selector */
div>p {
    color: black;
}

span>p {
    color: green;
}

/* Hover Selector */
h1 a:hover {
    color: white;
    font-size: 50px;
    background-color: red;
}

h1:hover {
    color: red;
}

h2 a:link {
    color: green;
}

h2 a:hover {
    color: greenyellow;
}

h2 a:visited {
    color: brown;
}

h2 a:active {
    color: yellow;
}

/* target */
:target {
    color: red;
    border: 10px dotted black;
    line-height: 30px;
    letter-spacing: 20px;
}

/* layout */
.inline{
    border: 2px solid rebeccapurple;
    display: inline-block;
    width: 400px;
}

.block{
    border: 2px solid green;
    width: 400px;
    display: inline-block;
}

/* Float */
.fload_right img{
    width: 40%;
    float: right;
    text-align: justify;
}

.clear{
    clear: both;
}

.float_left img{
    width: 40%;
    float: left;
    text-align: justify;
}

/* grid */
.gridone div,.gridtwo div,.gridthree div, .gridfour div, .gridfive div{
    padding: 20px;
    color: white; 
    text-align: center;
}

.gridone , .gridtwo, .gridthree, .gridfour, .gridfive{
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridtwo{
    grid-column-gap: 40px;
}

.gridthree{
    grid-row-gap: 40px;
    /* grid-gap: 40px; */
    grid-column-gap: 70px;
}

.columnadd{
    grid-column-start: 1;
    grid-column-end: 3;
}

.rowadd{
    grid-row-start: 1;
    grid-row-end: 4;
}

/* Position */
.parent_absolute{
    width: 1100px;
    height: 500px;
    border: 2px solid red;
    position: relative;
}

.absolute{
    width: 400px;
    height: 200px;
    border: 2px solid green;
    position: absolute;
    top: 18px;
    left: 158px;
}

.parent_relative{
    width: 1100px;
    height: 500px;
    border: 2px solid yellow;
}

.relative {
    width: 400px;
    height: 200px;
    border: 2px solid brown;
    position: relative;
    top: 18px;
    left: 150;
}

.fixed{
    position: fixed;
    top: 50px;
    right: 100px;
}

.online{
    font-family: "Playwrite FR Moderne", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@font-face {
    font-family: "playwrite";
    src: url(Playwrite_FR_Moderne/PlaywriteFRModerne-VariableFont_wght.ttf);
}

.offline{
    font-family: "playwrite";
}