/* universal selector */
*{
    /* color: red; */
}

/* tag or element selector */
h1{
    text-align: center;
    color: green;
}

/* atribute selector */
a[title="google"]{
    letter-spacing: 20px;
}

/* id selector */
#idselector {
    text-indent: 40px;
}

/* class selector */
.classselector {
    color: red;
    letter-spacing: 10px;
    word-spacing: 20px;
    line-height: 40px;
}

/* Descendant selector */
/* div p {
    background-color: yellow;
} */

/* Child Selector */
div>p {
    color: black;
}

span>p {
    color: green;
}

/* Hover Selector */
h1 a:hover {
    color: white;
    font-size: 50px;
    background-color: red;
}

h1:hover {
    color: red;
}

h2 a:link {
    color: green;
}

h2 a:hover {
    color: greenyellow;
}

h2 a:visited {
    color: brown;
}

h2 a:active {
    color: yellow;
}

/* target */
:target {
    color: red;
    border: 10px dotted black;
    line-height: 30px;
    letter-spacing: 20px;
}

/* layout */
.inline{
    border: 2px solid rebeccapurple;
    display: inline-block;
    width: 400px;
}

.block{
    border: 2px solid green;
    width: 400px;
    display: inline-block;
}

/* Float */
.fload_right img{
    width: 40%;
    float: right;
    text-align: justify;
}

.clear{
    clear: both;
}

.float_left img{
    width: 40%;
    float: left;
    text-align: justify;
}

/* grid */
.gridone div,.gridtwo div,.gridthree div{
    padding: 20px;
    color: white;
    text-align: center;
}

.gridone , .gridtwo, .gridthree{
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridtwo{
    grid-column-gap: 40px;
}

.gridthree{
    grid-row-gap: 40px;
    /* grid-gap: 40px; */
    grid-column-gap: 70px;
}