@font-face{
    font-family: "Roboto";
    src: url('css_&_bootstrap/Roboto/Roboto-Regular.ttf');
}

*{
    font-family: "Roboto";
    font-size: large;
}

/* Navbar Start */

.nav_hover:hover{
    color: rgb(0, 81, 255) !important;
}
.logo{
    font-size: large;
    font-weight: bold;
    color: #1479FB !important;
    text-shadow: 5px #1479FB;
    
}
/* navbar end  */

/* start profile intro */
.profile{
    text-align: center;
}
.profile img{
    border-radius: 5px;
}
.button-1{
    border-radius: 5px;
    border: 1px solid #1479FB;
    background-color: #1479FB;
    color: white;
    padding: 5px;
    text-decoration: none;
}
.button-1:hover{
    border: 1px solid #1479FB;
    background-color: white;
    color: #1479FB;
}
.button-2{
    border-radius: 5px;
    border: 1px solid #1479FB;
    background-color: white;
    color: #1479FB;
    padding: 5px;
    text-decoration: none;
}
.button-2:hover{
    border-radius: 5px;
    border: 1px solid #1479FB;
    background-color: #1479FB;
    color: white;
}
.icon{
    
}
.icon a{
    color: black;
}
.icon a:hover{
    color: #1479FB;
}
/* end profile intro */

/* Start About */
.about_line{
    border-right: 1px solid gray;
}
/* End About */

/* Start Skill */
.skill-logo img{
    margin: 20px;
}
/* End Skill */

/* Start Project */
.pj-image-hd{
    overflow: hidden;
}
.pj-image:hover{
    transform: scale(1.1);
    transition-duration: 0.7s;
}
.card_title:hover{
    color: #1479FB;
}
.card_text{
    font-size: 15px;
}

/* End Project */

/* Start Footer */
.footer_bg{
    background-color: #1479FB;
}
/* End Footer */
.brand_name{
    color: #1479FB;
}