*{
    margin: 0px;
    padding: 0px;
}
/* Start Nav */
.nav_item{
    float: right;
}
.nav_item li{
    display: inline-block;
    margin-top: 70px;
    margin-right: 50px;
}
.nav_item li a{
    text-decoration: none;
    color: black;
}
.nav_logo{
    width: 120px;
    height: 90px;
    margin: 20px 0px 20px 100px;
}
.home{
    margin-left: 200px;
}
.nav_input{
    width: 200px;
    height: 25px;
    border-color: white;
    outline: none;
    border-radius: 5px 0px 0px 5px;
}
.nav_btn{
    width: 30px;
    height: 30px;
    border-color: white;
    background-color: yellow;
    outline: none;
    border-radius: 0px 5px 5px 0px;
}
.cart{
    margin-right: 0px;
}
/* End Nav */

/* Start Bunner */
.bunner_img{
    width: 100%;
    position: relative;
}
.bunner_text{
    position: absolute;
    top: 300px;
    right: 50px;
}
.bunner_heading{
    font-size: 60px;
    font-family: "Dancing_Script";
    padding-bottom: 20px;
}
@font-face {
    font-family: "Dancing_Script";
    src: url(../font/static/DancingScript-Bold.ttf);
} 
.bunner{
    margin-bottom: 50px;
}
/* End Bunner */

/* Top 10 List */
.top_10_items{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 0px 100px;
    grid-column-gap: 80px;
    grid-row-gap: 50px;
}
.top_10_img{
    width: 100%;
    margin-bottom: 10px;
}
.top_10{
    text-align: center;
    margin-bottom: 20px;
}
.top_10_date{
    color: grey;
}
.top_10_head{
    margin-left: 100px;
}
.hr_line{
    border: 2px solid skyblue;
    width: 100px;
    margin-left: 100px;
    margin-bottom: 30px;
}
.top_10_items p{
    text-align: center;
}
.brand_name{
    color: grey;
}
.rating{
    color: gray;
}
.detail_btn{
    border: solid 1px black;
    border-radius: 5px;
    background-color: skyblue;
    color: black;
    text-decoration: none;
    padding: 5px 2px 5px 2px ;
    margin: 20px 50px 50px 0px;
    display: inline;
    float: right;
}
.detail_btn:hover{
    background-color: yellow;
}
/* End Top 10 Lists */

/* Start Icon Line */
.icon_line{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
}
.order_icon{
    border: 1px solid gray;
    border-radius: 5px;
}
.icon{
    display: inline-block;
    float: left;
    margin: 10px;
}
.order_icon p{
    display: inline-block;
    margin: 10px;
}
.order_title{
    display: block;
    font-weight: bold;
}
/* End Icon Line */

/* Start Season */
.types_perfume{
    margin-left: 100px;
}
.type_line{
    border: 2px solid skyblue;
    width: 100px;
    margin-left: 100px;
}
/* End Season */

/* Start Summer Collection */
.summer_img{
    width: 500px;
    height: 300px;
    float: left;
    margin-right: 80px;
    margin-left: 150px;
}
.summer_paragraph{
    display: inline-block;
}
.summer_head span{
    color: skyblue;
}
.summer_head{
    font-size: 25px;
    margin-bottom: 10px;
}
.summer_text{
    width: 500px;
}
.summer{
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: whitesmoke;
}
.summer_explore{
    display: inline-block;
    border: solid 1px black;
    border-radius: 5px;
    background-color: skyblue;
    color: black;
    text-decoration: none;
    padding: 5px 2px 5px 2px ;
    margin: 10px 50px 0px 0px;
}
.summer_explore:hover{
    background-color: yellow;
}
.clear{
    clear: both;
}
/* End Summer Collection */

/* Start Rainy Collection */
.rainy_img{
    width: 500px;
    height: 300px;
    float: right;
    margin-right: 150px; 
    margin-bottom: 30px;
}
.winter_head span{
    color: skyblue;
}
.winter_head{
    font-size: 25px;
    margin-bottom: 10px;
}
.rainy_text{
    width: 500px;
}
.rainy{
    padding-top: 30px;
    background-color: white;
}
.rainy_paragraph{
    display: inline-block;
    margin-left: 150px;
}
.rainy_explore{
    display: inline-block;
    border: solid 1px black;
    border-radius: 5px;
    background-color: skyblue;
    color: black;
    text-decoration: none;
    padding: 5px 2px 5px 2px ;
    margin: 20px 0px 0px 150px;
}
.rainy_explore:hover{
    background-color: yellow;
}
/* End Rainy Collection */

/* Start Winter Collection */
.winter_explore{
    display: inline-block;
    border: solid 1px black;
    background-color: skyblue;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    padding: 5px 2px 5px 2px ;
    margin: 20px 100px 0px 0px;
}
.winter_explore:hover{
    background-color: yellow;
}
.winter{
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: whitesmoke;
}
.winter_img{
    width: 500px;
    height: 300px;
    float: left;
    margin-right: 80px;
    margin-left: 150px;
}
/* End Winter Collection */

/* start footer */
.footer_group{
    background-color: black;
}
.footer{
    margin-top: 50px;
    padding: 40px 0px;
    color: white;
    display: grid;
    grid-template-columns: 600px 150px 150px auto;
}
.footer_about{
    margin-left: 100px;
}
.footer_about ul{
    width: 80%;
}
.footer_divided{
    width: 100px;
    border: 2px solid red);
    margin-left: 0px;
    margin-bottom: 10px;
}
.footer_nav{
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}
.footer_adress p{
    margin-top: 20px;
}
.footer_icon{
    margin-right: 20px;
    color: white;
}
.the_end{
    color: white;
    text-align: center;
    margin-top: 30px;
}
.divided{
    color: gray;
}
.footer_social{
    text-align: center;
    margin-bottom: 30px;
}
/* End Footer */

